@mixin fontStandard {
	font-family: "HelveticaNeue", "sans-serif";
	font-size: .8em;
	letter-spacing: 1px;
}

.title-container {
	width: 45%;
	margin: 0 auto;
	display: block;
	text-align: center;
	padding-top: 2em;

	h1 {
		@include fontStandard;
		font-size: 3em;
		margin: 0;
		font-weight: lighter;
	}

	h2 {
		@include fontStandard;
		font-size: 1.1em;
		margin: 0;
		padding-top: .5em;
	}
}

.login-box {
	width: 400px;
	margin: 0 auto;
	display: block;
	text-align: center;
	padding: 1em;;
	border: dashed black 2px;
}

.logout-box {
	margin-top: 1em;
	margin-left: 1em;
	position: fixed;
}

.tweet-box {
	width: 60vw;
	margin: 0 auto;
	display: block;
	text-align: center;

	input {
		width: 100%;
		height: 3em;
		background: transparent;
		border: none;
		font-size: 1em;
		text-align: center;
	}


}

.main-page-container {
	position: relative;
}

.tweets {
	width: 60vw;
	margin:0 auto;
	display: block;
	border: dashed black 1px;
	height: 60vh;
	overflow: scroll;

	button {
		text-align: center;
		width: 50%;
		margin: 0 auto;
		display: block;
	}

	li:nth-child(2n) {
		background-color: #f0f3fc;
	}
	.snarky-tweet {
		@include fontStandard;
		width: 100%;
		height: 6em;
		background: transparent;

		.twitterUserName {
			margin: 0;
			padding: 0;
			color: blue;

			span {
				color: darkgrey;
			}
		}
	}
}

.myTweets-container {
	position: absolute;
	left: 0;
	top: 10px;

	width: 10vw;
	margin: 0;
	padding: 0;
}
.myTweets {
	position: fixed;
	width: 18vw;

	h3 {
		@include fontStandard;
		font-size: 1em;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}



	.user-tweet {
		@include fontStandard;
		margin-bottom: 1em;

		p {
			margin: 0;
			padding: 0;
		}

		.SnarkUser {
			color: blue;
			font-size: .5em;
		}

		.SnarkTweet {

		}
	}


}